@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap");

body {
  margin: 0;
  background-color: #f7f3e3;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #efe3bd;
  font-family: "Roboto Condensed", sans-serif;
}

.project-cards {
  background-color: #efe3bd;
}

.btn-color {
  background-color: #f7f3e3;
}

.btn-color-2 {
  background-color: #efe3bd;
}

.border-color {
  border-color: #f7f3e3 !important;
}

.border-color-2 {
  border-color: #efe3bd !important;
}

@media screen and (min-width: 500px) and (min-height: 600px) {
  footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
}

@media screen and (max-width: 991px) {
  .border-color {
    border-color: #efe3bd !important;
  }
}
